{% extends 'base.html' %}

{% block content %}

<form action="", method="post">
    {% csrf_token %}

    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}

    <p>Username: </p>
    <input type="text", name="username">

    <p>First Name: </p>
    <input type="text", name="first_name">

    <p>Last Name: </p>
    <input type="text", name="last_name">

    <p>Email: </p>
    <input type="email", name="email">

    <p>Password: </p>
    <input type="password", name="password1">

    <p>Confirm Password: </p>
    <input type="password", name="password2">
    <br>
    <input type="submit", value="Submit">
</form>

{% endblock %}