{% extends 'base.html' %}

{% block content %}

<h1>Student login page</h1>

{% for message in messages %} 
    <h4 style="color: red;">{{message}}</h4>
{% endfor %}

<form action="", method="post">
    {% csrf_token %}

    <p>Username: </p>
    <input type="text", name="username">

    <p>Password: </p>
    <input type="password", name="password">

    <br>
    <input type="submit", value="Login">
</form>

<h4>Don't have an account, click <a href="{% url 'learn:signup' %}">here</a> </h4>

{% endblock %}