{% extends 'base.html' %}

{% block content %}

{% for message in messages %} 
    <h4 style="color: red;">{{message}}</h4>
{% endfor %}

<form action="", method="post">
    {% csrf_token %}

    <p>Username: </p>
    <input type="text", name="username">

    <p>First Name: </p>
    <input type="text", name="first_name">

    <p>Last Name: </p>
    <input type="text", name="last_name">

    <p>Email: </p>
    <input type="email", name="email">

    <p>Password: </p>
    <input type="password", name="password1">

    <p>Confirm Password: </p>
    <input type="password", name="password2">
    <br>

    <button type="submit">SignUp</button>
</form>

{% endblock %}